/**
* Gravity Department - Typeahead
* https://github.com/gravitydepartment/typeahead
*
* @author     Brendan Falkowski
* @copyright  2017 Gravity Department. All rights reserved.
*/


// ==============================================
// Typeahead - Button
// ==============================================

.typeahead_button {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: (30px / -2);
}


// ==============================================
// Typeahead - Link
// ==============================================

// ----------------------------------------------
// Modifier: Has Button

.typeahead_link--has-button {
    padding-right: (15px + 85px + 15px); // Magic number. Space for "add to cart" button.
}
